<h2>Liste des étudiants</h2>

<a routerLink="/etudiants/create">➕ Ajouter étudiant</a>

<table border="1">
  <thead>
    <tr>
      <th>Matricule</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Date inscription</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let e of etudiants">
      <td>{{ e.matricule }}</td>
      <td>{{ e.nom }}</td>
      <td>{{ e.prenom }}</td>
      <td>{{ e.email }}</td>
      <td>{{ e.dateInscription }}</td>

      <!-- ✅ ICI -->
      <td>
        <button [routerLink]="['/etudiants/edit', e.matricule]">
          Modifier
        </button>

        <button (click)="delete(e.matricule)">
          Supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
