<h2>Créer un étudiant</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <label>Matricule:</label>
  <input type="text" formControlName="matricule">
  <div *ngIf="form.get('matricule')?.touched && form.get('matricule')?.invalid">
    Matricule requis
  </div>

  <label>Nom:</label>
  <input type="text" formControlName="nom">
  <div *ngIf="form.get('nom')?.touched && form.get('nom')?.invalid">
    Nom requisc
  </div>

  <label>Prénom:</label>
  <input type="text" formControlName="prenom">
  <div *ngIf="form.get('prenom')?.touched && form.get('prenom')?.invalid">
    Prénom requis
  </div>

  <label>Email:</label>
  <input type="email" formControlName="email">
  <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
    Email invalide
  </div>

  <button type="submit">Créer</button>
</form>
