<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: html}">

<body>
    <div th:fragment="content">
        <h2 th:text="${isEdit} ? 'Modifier Etudiant' : 'Nouvel Etudiant'"></h2>

        <form
            th:action="${isEdit} ? @{/admin/etudiants/edit/{id}(id=${etudiantInput.matricule})} : @{/admin/etudiants/create}"
            th:object="${etudiantInput}" method="post" class="mt-4">

            <div class="mb-3">
                <label for="matricule" class="form-label">Matricule</label>
                <input type="text" class="form-control" id="matricule" th:field="*{matricule}" th:readonly="${isEdit}">
                <div class="text-danger" th:if="${#fields.hasErrors('matricule')}" th:errors="*{matricule}"></div>
            </div>

            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" th:field="*{nom}">
                <div class="text-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div>
            </div>

            <div class="mb-3">
                <label for="prenom" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="prenom" th:field="*{prenom}">
                <div class="text-danger" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}">
                <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>

            <div class="mb-3">
                <label for="dateInscription" class="form-label">Date Inscription</label>
                <input type="date" class="form-control" id="dateInscription" th:field="*{dateInscription}">
                <div class="text-danger" th:if="${#fields.hasErrors('dateInscription')}" th:errors="*{dateInscription}">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="/admin/etudiants" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</body>

</html>