<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: html}">

<body>
    <div th:fragment="content">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Gestion des Etudiants</h2>
            <a href="/admin/etudiants/create" class="btn btn-primary"><i class="bi bi-plus"></i> Nouveau</a>
        </div>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Matricule</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Date Inscription</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="e : ${etudiants}">
                    <td th:text="${e.matricule}"></td>
                    <td th:text="${e.nom}"></td>
                    <td th:text="${e.prenom}"></td>
                    <td th:text="${e.email}"></td>
                    <td th:text="${e.dateInscription}"></td>
                    <td>
                        <a th:href="@{/admin/etudiants/edit/{id}(id=${e.matricule})}" class="btn btn-sm btn-warning"><i
                                class="bi bi-pencil"></i></a>
                        <a th:href="@{/admin/etudiants/delete/{id}(id=${e.matricule})}" class="btn btn-sm btn-danger"
                            onclick="return confirm('Etes-vous sûr ?')"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>