<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: html}">

<body>
    <div th:fragment="content">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Gestion des Inscriptions</h2>
            <a href="/admin/inscriptions/create" class="btn btn-primary"><i class="bi bi-plus"></i> Nouvelle</a>
        </div>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Etudiant</th>
                    <th>Cours</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="i : ${inscriptions}">
                    <td th:text="${i.id}"></td>
                    <td th:text="${i.date}"></td>
                    <td th:text="${i.etudiantMatricule}"></td>
                    <td th:text="${i.coursCode}"></td>
                    <td>
                        <a th:href="@{/admin/inscriptions/delete/{id}(id=${i.id})}" class="btn btn-sm btn-danger"
                            onclick="return confirm('Etes-vous sûr ?')"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>